<tr>
<th scope="row"><%= person.id %></th>
<td><%= person.document.document_type%> </td>
<th><%= link_to person.identificacion, person_path(person.id) %></th>
<th><%= person.first_name %></th>
<th><%= person.second_name %></th>
<th><%= person.first_last_name%></th>
<th><%= person.second_last_name  %></th>
<td><%= person.role.role_name%> </td>
</tr>