<h1>People#show</h1>
<p>Find me in app/views/people/show.html.erb</p>
<dl>
<dt>identidicacion</dt>
<dd><%=@person.identificacion %></dd>
<dt>primer nombre</dt>
<dd><%=@person.first_name %></dd>
<dt>segundo nombre</dt>
<dd><%=@person.second_name %></dd>
<dt>primer apellido</dt>
<dd><%=@person.first_last_name %></dd>
<dt>segundo apellido</dt>
<dd><%=@person.second_last_name  %></dd>
</dl>
<a href="<%= edit_person_path%> " >editar</a> |

<a href="<%=people_index_path%>" >lista</a> |





